<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PoC: angular.js + Angular 10</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div ng-controller="MainCtrl">
    {{ title }}
    <button ng-click="navigateAjs()">Navigate Angular.JS</button>
    <button ng-click="navigateA10()">Navigate Angular 10</button>
    <a href="#/feature-2">Regular link</a>
    <a ui-sref="ajs">UI Router state link</a>
    <poc-app></poc-app>
  </div>
</body>
</html>
